{% extends "health/health_base.html" %}
{% block body_block %}
  <div class="jumbotron">
    <h1>Welcome to the Patient Details Page</h1>
    <h2>Patient Details:</h2>
    <p>Id_num: {{patient_details.id}}</p>
    <p>Name: {{patient_details.name}}</p>
    <p>Age: {{patient_details.age}}</p>
    <p>Location: {{patient_details.location}}</p>
    <h3>Sensors:</h3>

      {% for sensor in patient_details.sensors.all %}
      <h2><li><a href="sensor/{{sensor.id}}">{{sensor.name}} and </a></li></h2>
      {% endfor %}

  </div>


{% endblock %}
